@charset "UTF-8";
/* line 3, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
html {
  background-color: #e2e2e2;
  margin: 0;
  padding: 0;
}

/* line 9, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
body {
  background-color: #fff;
  border-top: solid 10px #000;
  color: #333;
  font-size: .85em;
  font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
  margin: 0;
  padding: 0;
}

/* line 19, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
a {
  color: #333333;
  outline: none;
  padding-left: 3px;
  padding-right: 3px;
  text-decoration: underline;
}
/* line 25, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
a:link, a:visited, a:active, a:hover {
  color: #333333;
}
/* line 28, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
a:hover {
  background-color: #c7d1d6;
}

/* line 34, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
#imgLoad {
  position: fixed;
  bottom: 0;
  left: 40%;
  display: none;
}

/* line 42, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
.item {
  width: 330px;
  float: left;
  margin: 10px;
  margin-bottom: 10px;
  padding: 15px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

/* line 53, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
.col1 {
  width: 330px;
}

/* line 58, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
header, footer, hgroup,
nav, section {
  display: block;
}

/* line 62, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
mark {
  background-color: #a6dbed;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 68, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
.float-left {
  float: left;
}

/* line 72, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
.float-right {
  float: right;
}

/* line 76, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
.clear-fix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 91, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
h1, h2, h3,
h4, h5, h6 {
  color: #000;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 95, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
h1 {
  font-size: 2em;
}

/* line 99, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
h2 {
  font-size: 1.75em;
}

/* line 103, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
h3 {
  font-size: 1.2em;
}

/* line 107, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
h4 {
  font-size: 1.1em;
}

/* line 111, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
h5, h6 {
  font-size: 1em;
}

/* line 115, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
h5 a:link, h5 a:visited, h5 a:active {
  padding: 0;
  text-decoration: none;
}

/* main layout
----------------------------------------------------------*/
/* line 123, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
.content-wrapper {
  margin: 0 auto;
  max-width: 100%;
}

/* line 128, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
#body {
  background-color: #efeeef;
  clear: both;
  padding-bottom: 35px;
}

/* line 134, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
.main-content {
  background: url("../Images/accent.png") no-repeat;
  margin-left: 1%;
  margin-right: 1%;
  padding-top: 30px;
}

/* line 141, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
.featured + .main-content {
  background: url("../Images/heroAccent.png") no-repeat;
}

/* line 145, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
header .content-wrapper {
  padding-top: 20px;
}

/* line 149, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
footer {
  clear: both;
  background-color: #e2e2e2;
  font-size: .8em;
  height: 100px;
}

/* site title
----------------------------------------------------------*/
/* line 159, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
.site-title {
  color: #c8c8c8;
  font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
  font-size: 2.3em;
  margin: 0;
}

/* line 166, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
.site-title a, .site-title a:hover, .site-title a:active {
  background: none;
  color: #c8c8c8;
  outline: none;
  text-decoration: none;
}

/* login
----------------------------------------------------------*/
/* line 176, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
#login {
  display: block;
  font-size: .85em;
  margin: 0 0 10px;
  text-align: right;
}

/* line 183, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
#login a {
  background-color: #d3dce0;
  margin-left: 10px;
  margin-right: 3px;
  padding: 2px 3px;
  text-decoration: none;
}

/* line 191, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
#login a.username {
  background: none;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

/* line 198, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
#login ul {
  margin: 0;
}

/* line 202, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
#login li {
  display: inline;
  list-style: none;
}

/* menu
----------------------------------------------------------*/
/* line 210, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
ul#menu {
  font-size: 1.3em;
  font-weight: 600;
  margin: 0 0 5px;
  padding: 0;
  text-align: right;
}

/* line 218, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
ul#menu li {
  display: inline;
  list-style: none;
  padding-left: 15px;
}

/* line 224, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
ul#menu li a {
  background: none;
  color: #999;
  text-decoration: none;
}

/* line 230, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
ul#menu li a:hover {
  color: #333;
  text-decoration: none;
}

/* page elements
----------------------------------------------------------*/
/* featured */
/* line 239, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
.featured {
  background-color: #fff;
}

/* line 243, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
.featured .content-wrapper {
  background-color: #7ac0da;
  background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
  background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
  background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
  background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
  color: #3e5667;
  padding: 20px 40px 30px 40px;
}

/* line 254, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
.featured hgroup.title h1, .featured hgroup.title h2 {
  color: #fff;
}

/* line 258, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
.featured p {
  font-size: 1.1em;
}

/* page titles */
/* line 263, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
hgroup.title {
  margin-bottom: 10px;
}

/* line 267, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
hgroup.title h1, hgroup.title h2 {
  display: inline;
}

/* line 271, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
hgroup.title h2 {
  font-weight: normal;
  margin-left: 3px;
}

/* features */
/* line 277, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
section.feature {
  width: 300px;
  float: left;
  padding: 10px;
}

/* ordered list */
/* line 284, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
ol.round {
  list-style-type: none;
  padding-left: 0;
}

/* line 289, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
ol.round li {
  margin: 25px 0;
  padding-left: 45px;
}

/* line 294, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
ol.round li.zero {
  background: url("../Images/orderedList0.png") no-repeat;
}

/* line 298, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
ol.round li.one {
  background: url("../Images/orderedList1.png") no-repeat;
}

/* line 302, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
ol.round li.two {
  background: url("../Images/orderedList2.png") no-repeat;
}

/* line 306, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
ol.round li.three {
  background: url("../Images/orderedList3.png") no-repeat;
}

/* line 310, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
ol.round li.four {
  background: url("../Images/orderedList4.png") no-repeat;
}

/* line 314, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
ol.round li.five {
  background: url("../Images/orderedList5.png") no-repeat;
}

/* line 318, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
ol.round li.six {
  background: url("../Images/orderedList6.png") no-repeat;
}

/* line 322, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
ol.round li.seven {
  background: url("../Images/orderedList7.png") no-repeat;
}

/* line 326, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
ol.round li.eight {
  background: url("../Images/orderedList8.png") no-repeat;
}

/* line 330, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
ol.round li.nine {
  background: url("../Images/orderedList9.png") no-repeat;
}

/* content */
/* line 335, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
article {
  float: left;
  width: 70%;
}

/* line 340, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
aside {
  float: right;
  width: 25%;
}

/* line 345, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
aside ul {
  list-style: none;
  padding: 0;
}

/* line 350, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
aside ul li {
  background: url("../Images/bullet.png") no-repeat 0 50%;
  padding: 2px 0 2px 20px;
}

/* line 355, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
.label {
  font-weight: 700;
}

/* login page */
/* line 360, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
#loginForm {
  border-right: solid 2px #c8c8c8;
  float: left;
  width: 55%;
}

/* line 366, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
#loginForm .validation-error {
  display: block;
  margin-left: 15px;
}

/* line 371, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
#loginForm .validation-summary-errors ul {
  margin: 0;
  padding: 0;
}

/* line 376, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
#loginForm .validation-summary-errors li {
  display: inline;
  list-style: none;
  margin: 0;
}

/* line 382, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
#loginForm input {
  width: 250px;
}

/* line 389, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
#loginForm input[type="checkbox"],
#loginForm input[type="submit"],
#loginForm input[type="button"],
#loginForm button {
  width: auto;
}

/* line 393, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
#socialLoginForm {
  margin-left: 40px;
  float: left;
  width: 40%;
}

/* line 399, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
#socialLoginForm h2 {
  margin-bottom: 5px;
}

/* line 403, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
#socialLoginList button {
  margin-bottom: 12px;
}

/* line 407, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
#logoutForm {
  display: inline;
}

/* contact */
/* line 412, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
.contact h3 {
  font-size: 1.2em;
}

/* line 416, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
.contact p {
  margin: 5px 0 0 10px;
}

/* line 420, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
.contact iframe {
  border: 1px solid #333;
  margin: 5px 0 0 10px;
}

/* forms */
/* line 426, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/* line 432, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
fieldset legend {
  display: none;
}

/* line 436, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
fieldset ol {
  padding: 0;
  list-style: none;
}

/* line 441, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
fieldset ol li {
  padding-bottom: 5px;
}

/* line 445, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
label {
  display: block;
  font-size: 1.2em;
  font-weight: 600;
}

/* line 451, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
label.checkbox {
  display: inline;
}

/* line 455, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
input, textarea {
  border: 1px solid #e2e2e2;
  background: #fff;
  color: #333;
  font-size: 1.2em;
  margin: 5px 0 6px 0;
  padding: 5px;
  width: 300px;
}

/* line 465, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
textarea {
  font-family: inherit;
  width: 500px;
}

/* line 470, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
input:focus, textarea:focus {
  border: 1px solid #7ac0da;
}

/* line 474, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
input[type="checkbox"] {
  background: transparent;
  border: inherit;
  width: auto;
}

/* line 482, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
input[type="submit"],
input[type="button"],
button {
  background-color: #d3dce0;
  border: 1px solid #787878;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 600;
  padding: 7px;
  margin-right: 8px;
  width: auto;
}

/* line 495, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
td input[type="submit"],
td input[type="button"],
td button {
  font-size: 1em;
  padding: 4px;
  margin-right: 4px;
}

/* info and errors */
/* line 502, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
.message-info {
  border: 1px solid;
  clear: both;
  padding: 10px 20px;
}

/* line 508, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
.message-error {
  clear: both;
  color: #e80c4d;
  font-size: 1.1em;
  font-weight: bold;
  margin: 20px 0 10px 0;
}

/* line 516, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
.message-success {
  color: #7ac0da;
  font-size: 1.3em;
  font-weight: bold;
  margin: 20px 0 10px 0;
}

/* line 523, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
.error {
  color: #e80c4d;
}

/* styles for validation helpers */
/* line 528, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
.field-validation-error {
  color: #e80c4d;
  font-weight: bold;
}

/* line 533, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
.field-validation-valid {
  display: none;
}

/* line 537, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
input.input-validation-error {
  border: 1px solid #e80c4d;
}

/* line 541, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
input[type="checkbox"].input-validation-error {
  border: 0 none;
}

/* line 545, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
.validation-summary-errors {
  color: #e80c4d;
  font-weight: bold;
  font-size: 1.1em;
}

/* line 551, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
.validation-summary-valid {
  display: none;
}

/* tables
----------------------------------------------------------*/
/* line 558, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 0.75em;
  border: 0 none;
}

/* line 565, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
th {
  font-size: 1.2em;
  text-align: left;
  border: none 0px;
  padding-left: 0;
}

/* line 572, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
th a {
  display: block;
  position: relative;
}

/* line 577, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
th a:link, th a:visited, th a:active, th a:hover {
  color: #333;
  font-weight: 600;
  text-decoration: none;
  padding: 0;
}

/* line 584, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
th a:hover {
  color: #000;
}

/* line 588, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
th.asc a, th.desc a {
  margin-right: .75em;
}

/* line 592, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
th.asc a:after, th.desc a:after {
  display: block;
  position: absolute;
  right: 0em;
  top: 0;
  font-size: 0.75em;
}

/* line 600, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
th.asc a:after {
  content: '▲';
}

/* line 604, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
th.desc a:after {
  content: '▼';
}

/* line 608, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
td {
  padding: 0.25em 0em 0.25em 0em;
  border: 0 none;
}

/* line 613, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
tr.pager td {
  padding: 0 0 0 0;
}

/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {
  /* header
  ----------------------------------------------------------*/
  /* line 626, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
  header .float-left,
  header .float-right {
    float: none;
  }

  /* logo */
  /* line 631, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
  header .site-title {
    margin: 10px;
    text-align: center;
  }

  /* login */
  /* line 637, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
  #login {
    font-size: .85em;
    margin: 0 0 12px;
    text-align: center;
  }

  /* line 643, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
  #login ul {
    margin: 5px 0;
    padding: 0;
  }

  /* line 648, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
  #login li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* line 655, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
  #login a {
    background: none;
    color: #999;
    font-weight: 600;
    margin: 2px;
    padding: 0;
  }

  /* line 663, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
  #login a:hover {
    color: #333;
  }

  /* menu */
  /* line 668, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
  nav {
    margin-bottom: 5px;
  }

  /* line 672, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
  ul#menu {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  /* line 678, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
  ul#menu li {
    margin: 0;
    padding: 0;
  }

  /* main layout
  ----------------------------------------------------------*/
  /* line 687, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
  .main-content,
  .featured + .main-content {
    background-position: 10px 0;
  }

  /* line 691, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
  .content-wrapper {
    padding-right: 10px;
    padding-left: 10px;
  }

  /* line 696, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
  .featured .content-wrapper {
    padding: 10px;
  }

  /* page content */
  /* line 701, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
  article, aside {
    float: none;
    width: 100%;
  }

  /* ordered list */
  /* line 707, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
  ol.round {
    list-style-type: none;
    padding-left: 0;
  }

  /* line 712, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
  ol.round li {
    padding-left: 10px;
    margin: 25px 0;
  }

  /* line 726, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
  ol.round li.zero,
  ol.round li.one,
  ol.round li.two,
  ol.round li.three,
  ol.round li.four,
  ol.round li.five,
  ol.round li.six,
  ol.round li.seven,
  ol.round li.eight,
  ol.round li.nine {
    background: none;
  }

  /* features */
  /* line 731, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
  section.feature {
    float: none;
    padding: 10px;
    width: auto;
  }

  /* line 737, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
  section.feature img {
    color: #999;
    content: attr(alt);
    font-size: 1.5em;
    font-weight: 600;
  }

  /* forms */
  /* line 745, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
  input {
    width: 90%;
  }

  /* login page */
  /* line 750, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
  #loginForm {
    border-right: none;
    float: none;
    width: auto;
  }

  /* line 756, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
  #loginForm .validation-error {
    display: block;
    margin-left: 15px;
  }

  /* line 761, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
  #socialLoginForm {
    margin-left: 0;
    float: none;
    width: auto;
  }

  /* footer
  ----------------------------------------------------------*/
  /* line 771, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
  footer .float-left,
  footer .float-right {
    float: none;
  }

  /* line 775, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
  footer {
    text-align: center;
    height: auto;
    padding: 10px 0;
  }

  /* line 781, C:/project/GitHub/sb/ClipWall/ClipWall/Content/Site.scss */
  footer p {
    margin: 0;
  }
}
