/* line 2, D:/ClipWall/sb/ClipWall/ClipWall/Content/clip/clip.scss */
.focus {
  border: 1px solid #f00;
  color: #0f0;
}

/* line 8, D:/ClipWall/sb/ClipWall/ClipWall/Content/clip/clip.scss */
.greyout {
  position: fixed;
  top: 0;
  left: 0;
  background-color: grey;
  width: 100%;
  height: 100%;
  z-index: 99999;
  opacity: 0.6;
  filter: 'alpha(opacity=60)';
  pointer-events: none;
}

/* line 22, D:/ClipWall/sb/ClipWall/ClipWall/Content/clip/clip.scss */
.hidden {
  display: none;
}

/* line 27, D:/ClipWall/sb/ClipWall/ClipWall/Content/clip/clip.scss */
.overlay {
  position: fixed;
  z-index: 99999;
  background-color: grey;
  border: 1px solid red;
  filter: alpha(opacity=40);
  opacity: .3;
  -webkit-transition: opacity;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 500ms;
}
/* line 37, D:/ClipWall/sb/ClipWall/ClipWall/Content/clip/clip.scss */
.overlay p {
  text-align: center;
}
/* line 40, D:/ClipWall/sb/ClipWall/ClipWall/Content/clip/clip.scss */
.overlay:hover {
  opacity: .9;
  cursor: move;
  -webkit-transition: opacity;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 500ms;
}

/* line 49, D:/ClipWall/sb/ClipWall/ClipWall/Content/clip/clip.scss */
.panel {
  position: fixed;
  z-index: 100000;
  left: 0;
  margin-left: -300px;
  width: 355px;
  height: 500px;
  border: 1px solid;
  display: inline-block;
  background-color: grey;
}
/* line 60, D:/ClipWall/sb/ClipWall/ClipWall/Content/clip/clip.scss */
.panel:hover {
  margin-left: 0;
}
/* line 64, D:/ClipWall/sb/ClipWall/ClipWall/Content/clip/clip.scss */
.panel .left {
  float: left;
  width: 290px;
  padding: 5px;
  height: 490px;
  border-right: 1px solid;
  overflow-y: scroll;
}
/* line 71, D:/ClipWall/sb/ClipWall/ClipWall/Content/clip/clip.scss */
.panel .left div {
  width: 100%;
  /*height: 100px;
  overflow: scroll;
      */
  margin-bottom: 5px;
  border-bottom: 1px dotted;
}
/* line 81, D:/ClipWall/sb/ClipWall/ClipWall/Content/clip/clip.scss */
.panel .right {
  float: right;
}
/* line 85, D:/ClipWall/sb/ClipWall/ClipWall/Content/clip/clip.scss */
.panel .b_expand {
  width: 54px;
  height: 50px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADYAAAAyCAIAAACYtr+cAAAFHElEQVR42s2Z2U8bRxzH5y9ZcUoNAcLhOhUPFe+ogjwgFFQOY0woJbSENgk2BRqwIclLqqYUAoT7kJoqSqRKVfpQqZQQhXAZB4Pjq8bYxvjEXtvYHP0VmtV6dlsQXlv+6vPi/Y3HH83O7ox3kUajiFvU6tXFxT+QVrsWtyiVC0tLM0ivV8YnOp1SLp9bWZlFBsNGfKJWyxWKOQAZje84ZHHx1f37dxsaGmrPFYlE/OTJNPSzualaX59XKl8DyGTScoVKtdrUdOOziPP06U96vUKlWjgBWSx6rnj27Oc6LnL9er1Gs0yBdnYMXPHixS+fRxxQzMrK0utXKZDdbuQKo1EtFt+ujywFBQUEQRiNaxTI6TRxiEbztqfn++bmc4oKBIKkpCRQNJs3KJDbbYklBoOqvb2tgS2gmJGRQRzHalVTII/HGktgpFtaJF+wJT8/n3gfu11HgUjSFjNAsb+/l9WvqKiIoMXp/IsC+Xz22ACKAwN9X7KlvLw8ISGBruh2b1KgQMAZA3w+x+BgfyNbRCJRamoqER6PZ4sC7e05o43f7xgaGrjBlubmW/n5HxOMkKSJAgWD7qgSCLiGhgab2PLo0Y8u1+bWlpKp6PdbKFAotBs99vbcw8ODX7EFrhuS3A4ErMDFi2mYIhykQPv7nigBQzgyMvQ1W2D8/H5rMLhzAlORKgGg6I0GoZBndHToJlv6+noCAVsoZKdgKtKr6PCQ5BwYwrGxYVa/3t4fgkH7wYGDDlORXuVeEabg+PjILbY8fPgdjMrhoRODqUivomj43WZLd3cn5ndWxaMjHxOStM/Pz755M+f3O+HjGYHzOzEx2swI3F8kkpv7+46jIxcrTEV6lUXRbNZLpR0nvXd3d9lsxkj84B9JY2M95ceN4uPHA2JaJibGzuY3JmakpKSkrk6E+THJzr5E97tw4QN6lWUutra2SmiRSqWnzT/P5OSYJDyw+Obl5dXWCrH5xwo0oyuWlV095XJpCU9HR8dpfuPYV4qLi1NSUq5dEx7fX5ynotWu8Pm8E7+srEtra6/pVXRwQGJ8E57Ozg6qhBEM7k5NTdAbw+aZx/vnx8Bvb88Gp/iM2Gy6ycnBkZFeq1WDlUDRi8Gm6GUC69vU1DjVDGZeYWFhYmLisV8VrK2hkI0TmAsgriiVdjLbwP6APn6lpaVpaf9elTU1VX7/NqytXIFgMmG0hkcmk2INYIs6PT1+Uq2oqMjMzASz934CkjQHAtscgmA+YbSFRyaT0atwM4fxg+M1NTW5ubkELSKRwOMx+XwWbkFwyjDaw9PVJaNKsL8Hv+rqaj6fT4SnurrS7TZ6vSbOQbArxmAodp0c93pt9+7J0tPTQYjhV+FyGXZ3jdEA+XxOjG8Z2dnZtNsNIlElwRahsMLh0INilEAk6cCgzOBShScYsEjweLl8/of/4Vdus2lBMXogr9eOASdXKBTCs4Hk5GTif1NVVQYPNEAxqiCPx0bhcpnhhMLaRZwhAkGZxaICxWiDXC4LPHezWnUWyzuzWQWcxa+y8tOtrXVoHAMQ/I3FONUvNzdHq12GlrEBGQxvMU5VzMv7aH7+d2gZG5BOJ8cgIktOTnZ5+dWXL3+DrjgBqdVLGAQXgfsUvHiC3iIHbWwsYBAc5cGDu9Bb5CB494LB4+VwoiiTtUFvkYMUilcYUmlr5H4ZGekzM79Cb5GD5PJZJnfuiC9f5p9PDu78V6588vz5NPTDCWh5+c84B8E76Tjnb+TsZB1ADqnNAAAAAElFTkSuQmCC");
}
/* line 91, D:/ClipWall/sb/ClipWall/ClipWall/Content/clip/clip.scss */
.panel .b_login {
  width: 54px;
  height: 50px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADYAAAAyCAMAAAAgCtj5AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAwBQTFRFaGhb4t+Z8e2N/Pmz+fbDk5KFdHNl7el68e2a4d2JTU1N6eWm/PnE5uB58uyJy8mG8e6k8O27+fa74d+l+vah9fLB3NiHqKeS7eqaLCwr7eqU+fap9fGq5eFz+fay6eNo5uGE+PSY7uuq+vWcs7F07umD9PGv7uu16uR+081U+fat9PCW8Ox87eh08e6Q8e2t8e6nuLia6eWM29Zy9fGxy8ml9fGZ6eWC6eRx6Oap5eKi9fGd4tx4+fWWu7mI6eaT+va07emJmZh39fGh+/ikUlJS8e6z9PCE085o8e2V29VhpKOP6uae5uB+VVRK9vKM2dNrzMVL6OJ94dph9fKm8u6A0c6E5N14XFxR5eKM5+Bt4+Gv3Nqi6eZ3/fq53thj7emG9fK+5N5t+fal7OaB5+Bl5t9kzcqSiop98e6G4+CR3NZd1tOiwsB/3Nl79fKHz8tm49xh4dle9fG0zchajYyB4Nlmzcqc7uu66eV65uOb7uql7uqOvrp09fGR/Pir2dV77eqh/fq+0c+bVVVUSkpK+fbK/fqu7OeF4d18f39xUFBP4Np29vKT9fK54ttp3th16uWG19Bb2tRe9O+N4t1uoaCD9/S/3tue5t9q1tOC9/S68++T3tde6ONt3thr+/ip+/e43durxb5JPT076OKB7+yl3dqQ495249595N9x9vS18/C+9/Ou8/ChhoV58/Cx7OiI495y491q1NGR6uRs7+yExcSV6ONy6+en2tNb6+iE8u+e6+ij1dFx5+OHRkY79/OP19Ft2dNf7OZxi4py9/Si5+Wy4dt6ycee+ve/6OavVVVS8OuH6OB67OZt4Ntv0MlP5N1ju7dR7+uK9/SM4ttl8/CKzMhz8OyIi4lr8++R8Ox/ysdvS0tC8++s9/Op9/OTu7mm39uA9/Ox6+h/8++Z7+zF+PSbw8Khy8iW8u+3r66U9/Of8u+62NSV2NWeYGBa6OR3z86p19Wo2Nan9PCnx8Wv+PSkxMBv+PSQ8Oygy8l+6+iM4dtxHh4eyUnqPAAABq1JREFUeNqElgk8lGkYwN+Rs8wmR4YZYsqRMaZox0QaSaFYdweFTcqkkkqtWGdtrlSjgxpKkSR0rSiSkkqXWrE2u7RkVbSlVkrt7PN+M/Hp2P7zm2/me97n//veed5r0I4dqanTpk2bP38+1ZH6OUhRSILU1NQdQoQt7ED7bcfbn0KOSs3UA0J07VpSgYuLi4eHo4ex8SXjj3GTvjEeAKQWTJtzGCUVEBYYSwG3pcNxW0qOYhWS/z2cjsDKy8uzvARRA8DCgIzFsE9sWublubj7z0Euenp5ljsTEwMCbn2VgIDExJ2Wxxo3+CM9vSqQTjY0NDd/8xWamxsaTiYuzTy9fQOqqtp5MnZGgwywS0ISvog6B1YMDCg6kaM4pyG2zGfJ6e2oyvx97PsoCJg9iJZSEM2aeTYYjdyCkjWtaB/iSdEPzGRkVhvwynSO7Ubm5rFRUTJmZiJRdPQ2KQufy2+RcnOus7ZI0lAQLRK1y7AXg3YK8WO1tZ2cnFgsFldfSu3klC1DJFtpsyRxPVY7q0VBYXGvjg7ax8dWJ5fL7erqGo/pv54ykkyyFY0LYWjW4zaZKigoRFCpiD+WpqgIlrVUGq/O3CxJR0j6pXtTJ9GysCvJ27vF4JFxBBXRaGMVKyqse3pq1SXQ9xC5Jdc3JqzsfoG/vlCj9UDDQvWu0AOC0lLwPEAbUKqYObMWLHuCwgU4VfPJqnwKhfKK8CZvKra359uru4Y2WQhKA85bWqK4uAGVFV5e/f2BgfSDQMxLnCi/8Qwlv7hYpbwb38llDATyD9q/rXZ1bbJonnFyZxWKi1RR6fPyaqMDIMXoTsaJcxMoKvSDMXTGIXwXvCgO2mzePtyGxy7qvXkVioycNInBaKObmJjEbAVsNYluPa+k4zuTpzfhLnxRpUnMeBsb/YfbRCKzqChzc8RkcloNi4o26erqjgCcczRTgMmLmPjWeUThnpSUzY+XM03UiTHgsjqdtGP5fKydMOzo0LWytYW8Sj9Vqcax9QMqC40ea377xKqVKHJPj7V1pyKNto+PjDizT6wrLMzJGZXj51fu51cn0Q7NzsGa36hCI9+EqZx+XOPA/v7amcUVAzTnecjI6OnTtLT9qqqqU+OnxsfHyxLan75jZCVc1fAd86y1Dap1kE5va/PqUxmIc3bG2rO0/ftV6+rqbsTHK2toys8CksPD5aSEy5XIX/FtbYuJMQGN0TfpSGSlM/phzLPj3+/diy3lG8p/oVkfM1JLLBbn/sMsgloXFTEYoJWPAu041mRlbygrKxtpfmJtwZZYXKLGgVp3dBgatnKY5WcITQO0q7Kg/RT8sZUrlvBiZXmHLaFxOMwzkqdpaOy9Kkto4Z/pIMGCBKspWJtygsP5W9pJ/LRPNLnXr4PFgyzYqGY4+LT/0Upevkx4hYZpQ79tFFFJX6KSw7XujauspmoOadMpDKKS+ZJKGo15ppZGaHXK8bLhm6Xklkyn9K2TG9KejO7D45YvHTej2Wpp0uGOH9Quaom1uimt17WGtOWUfJgl+YOzZNHTdVhTzYFJKNEkQ/VdBvMPMVkrVgpUks5JZ5TBmb2OmMpYqwv/IInF8mes5MnaCmt1pVpYAhWKNLxwMjgnpsDCscULRzU4d7BfdvM22ZE1pU6lrnYuF9abNrHeKHiZEqt0a9FQxcXT5y08S9JGK6220ddvZ4lAg9UdeWQShcHA8zRwvI31kKY1fR+/nKz9/sDm4cPo1cReQmjgtdVyq6vfviVpuVd+s7MjVfLHdpnqatdduywaJDtXnIoKnEdNTa6u9+93kjo5nAWj25thu2sSNN+CfVIP0bTfnzcoFQgcQgGR/Jc09C5JEBrqIBCUGsDu6oGoHsaPHhm0uHk7ODiEClZ9Sdvza0GLgwNxBDxy9KCio9TeiAgFBVO3Fm8IXphw8XPSRbs3F6gt3i2mcOBERPSuOYpO6ej09i6G4+eyqanpHIWkfe9WkZlAvH98s6Z+sSmW4HSD4209qt99TKesjMdms4Xsy2x2Wb2b4xoyv8BrjaNbfRmbgFeGz+B6dGD76SU+Ptk8Xk2NEMI1vOwlw1mPL9m8GnZNTQ2Pl+2DT/wDyH/D9tOZmZk+2dkT70y88ymk6M/Z2T6QCv8v/NEcf//GxsZlQUF3x40bN3Hcx0wkR4OCgpZBsr//YZQOnqdnY5j7vWXA3aDh3B284tZ798IaPT3BSkfCy+khWVlr3T2BsLAw9zAy7uRPnLF2bVZWyOHLQiQUnjuXHgJm1tqvAkkhIennzgmF/wkwAD6Mzla5n59yAAAAAElFTkSuQmCC");
}
/* line 97, D:/ClipWall/sb/ClipWall/ClipWall/Content/clip/clip.scss */
.panel .b_pick {
  width: 54px;
  height: 50px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADYAAAAyCAMAAAAgCtj5AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAwBQTFRFwr6c7urJSUhEzsqoycam//rQ6ubBzMil3tq2OTg1W1tUzMmyxMCdycas3dq97ei/5eLCq6iOamlhxcKldHNp0M22rauZZ2ZeoJ6NUVFL/fjPxcKgGBgXwL2mlJOF0s6ts7Gh1dO73NixfHtx2da71dGuzcqt2NSu7enF5+K8i4p+nJuL9/LJwr6i+vbTq6iW4dy31NCqIyMi19Owwb6p6OS+uLWi4t648O7O2NWy/PfO9vPM1dK23drA6ua8+PTKvrqZu7ihvbqihYR45OC6tbGUqKeV8+7GgoF36eS84Nu0sK6c8e3Ksa6U2tay4N7C2NSw8OvB2ta1d3ZsubWW4t6+oqCQ7ejCysajxsKpwb2b9PDHubaf19KsLCsp3Ni0eXhv19KvtbOdvbun7+rD8ezF6OS60Myow8CpmJeG8OvE3tmz6+a+7+rA09C19vLL0s6r5N+57OjA1NGwv7ym1tSz0s6uvrqe4963s7GZ+fTM0c2tkY+DsrCdu7iep6WW9PDQ4Ny7vrypv7ye3Ni3iIZ82tewcnFn0s6p9PDL9fDHw8Gt5+K/6OO65uG4t7SaxcOv19Oy08+sy8it6+fFx8Sl4t662NS0t7Ob+/bPMTEumZeJyMSjQ0I+5uO6x8SocG9nJycl+PTP9/TM8ezH7unC6+e+1dKz09Cv0c+rzsyqy8iox8Sif350WVhRHx8eVlVP/vnP0Myq0c2r+/fN5uG729e01NCt+vbLyMSh+vbM5N+30c2q0Myn+/bN8ezC9vHL7um/8u3F0s2ox8Og2NOy6eW++vXM2dWy0Myr5eK79vHJ29iz4t224d23z8uq4t242NS26+fA29ey9O/Hl5aI4NyzPj469/PKj46DYWBZiIZ439u33dm2sK2Px8Wv8u3G4+C5u7ikwL2hv7ub08+pz8yw0c6w5eC45+TO5+O95+K50s2r6ufJ6+jA1NCy+PTJX15X4+C+4dy04t21vLiY09Cz+vbNo6GTpaOTp6ST5eC85eG/5eK+5uG8ERER+r9kXgAABtJJREFUeNqUVglYVFUUvsxjAA0DZ2B2QEWGbVC2maEBRTZR9kQBR1mFQhKDNEsRkZAo1FSQtFFCNJEaWQZngRERTUfMwoIK0tEWFYuyxbLMlte9d97YROn3db/53/vO/e//3jnnnnvegK6uLvn/Bzh2DP4eCPvWsovydd+tk18scwPnLbg6+7q6/wS/1a3E/khqvbw3bGQlQaxJXF72JDDz4IyHhwcfYuK95+eo1fatLJJRL+SQ3CnWS5vbhfN0H+zi1+kgD4KCgnr+hT27+Ltmk4yxm22kYJozjSQlLgxSEdGwmsse6/KAa8DAQMbARGxxilxzxJckN04fIUkFmyTJTnd4WfFIO3yvsmHLoiCgtdVqJyKMbJasriZJwSTScnRySZLm8twLIxw+OGFnZ2eJdZVXtKsFZIf7PyXmoQieH0j6CIG/v//bFtC5d64QzmkmHzgUEGlMUFoaUGqB266kwOmugFojGGl3ck/19Y3KcW+nddyXTqsH3p7e3hTGtw38Fr32Pim4xGEt3/RczLVrfouZfn47guczqMdxueBFg8FAwWZldVjyTPObyE/WTwXWBNzDlIzHHgs6+uZbymtpZg4MDQ3NoHDlMnxQqplpllwlhv0DNO94e4rF457vaEpf0s7MMsvS059Kp2AzXWARe2De/mzxjHQLfkjsGGiW5cfl52NUetk4TrbM2V3h+09RHAUvyX0nny8oKHgPYlFjKssZy2gb3fEGdI71phcUmHl0v/0D9j6nmgZiY2OPI1iZtzc1IqZpBXaGtWjV6eNmHiLaGc1msRL9hKC29pVahKIvKNWmxXXZW2ajKLlhv/1Ua+YhNnPRtnASbVOuANF2kUi0/en+NyrbsWeRd5IM+XGOTsioOHa41sQj9JejOcZ6wv/wj2BueHj4wtDZaZFbUWCKiDvD3y57QlSUjFKtCPP+EPMQc0dDUF1l5TXEFW0fBd3d3S3doSNUYJzFnt+KWrq7RwcrkBll/Ph7xCMc9EEzPn6ezzzR3Q3Uage1+tAU04Yc2FEivtCiVqtbLtxqhHZH4R/L9JCHa36Zg8KluXSNv65Xq4HMQSaTGRLicZLylNLYVdB2kJ1LwHs0+dH0hdiWzUKhC2Y32JWegzYo5vFkXgdDvkKxRDGT8lt4PN4pCIMV3qS0s7F9yJ41H1lsvzVxGxAPVCrVtlRGpwIfwfPihTyVqhjOFcv6nZFXgc42o6dUKh4+goI8ZeYFHuIBnf74LK4pHz4Ndl/yoE3H6Pv9AJr8YYm0j063YuPkM22LZJgH8Pqa1SVcu8FlMzbcV9GLR01niLOtlmeqBYEE/ClSYR6cpNNl3rdQvDVLT8Ty6Ccp1Um6LKEGP23FbpvpuEgZmwaKZCYexsbz2jwHyeLl3iJTXCbwFuKck82uFVgliFdqLpwycVC2i63A2Y/wONxnoVIV9yUw/tHvmCn5LRQHeKfCTH2K1qQtcKCyb4LMVIXmsc9a+rWM4oCDvj8ZP5RWb3cc18PfMCRbyiRvvSgyc0CvFxmTo5Dr0256PR0+V6/Xt+h/ObfqYGiozWZXnBMaF5delNAxod8QemiD4ZwehIeLE6bjjRM4/frp7ZCQEMeQkEe/2Jr2kQ+jEXe3eJemnfjYN7JdN7oGF0bANWBUHNFJPmQ0l1cRKbYzJ7R2sP1l2sNUJDuSeH9Gy7YFE2QfFty69zBhDTNlODbWymeC7HRRUuXMAw+WNU6xXXX6syUTAgFFcemOO7HnHWyfleUuLsuDgwt90+62ubdNxme+LWzJ7iX4rE9qr2lbkLYvHq4BcYd/z8E1JGDtTeRbZ8gJgpATSmWVdVPT2ihcHR/tw/WfI0m8xmTesba2vU6AIRuq69PyrhID2Sf8/Qdv+BvtiHeTBjLW7LR0jDWVX5KbkfTuFbgGiMefLc9BTtISjw5HZ46LxehLkemtic4srWRZyjZWvWkM+Dxag9YATabx7NinUJcVaZudqdFoLOB4yVI2mVl3w8yBgEGjVuiKomM1ZAxKpQFSqfSGFN9ffQQHHVi9ABdXh+T68CDFA6PReLOG6nZl2cYnoW1Gaw5WcdL2VuAPMHupWzbFAa2WuEyV0dqGXMt/GgTuQaQPJwY04ZoWlDecSTJxYCBjzxirOged1Go/eZDFv5otOMVcTiK/CwjxB+LSXmWuiQM9uR5u8/yCUc0p1jO/ye3Jzc09A9EThCML9J16neDrLhYG4rbAv3gG80CnqwOEUoKdr66yttfpdCZ8gCvO/V7Mfrimt2offnXk4l7Mg5ISUOJWaOoLWRExRC+00VzrWtzz702Vz+uFNlGP3VxZldGF+L8EGAAPxhdkIuC+KwAAAABJRU5ErkJggg==");
}
/* line 103, D:/ClipWall/sb/ClipWall/ClipWall/Content/clip/clip.scss */
.panel .b_select {
  width: 54px;
  height: 50px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADYAAAAyCAMAAAAgCtj5AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAwBQTFRF2tnKcHBw8ezE29ax4uDO9PHW3Ni09/Td//zi1dGt0MypJiYl8/DW8+7Kubmx+PXadXV16eXB393DoqKd/Pne7OrU8u7Uysaj8vDbmpmV+vXJysm99/Tgvbqinp6Z5+K54d7F7urR5uK81NG17ei+rKmWpaOS9PLd9PLau7ib9fHNdnZ28OvBwsG59/TZ+PbibGxsGxsa5+TQ6ebRnpyM8u/ZZGRk5+TV+PPH+fXe1NLG9/LGy8rB7uzV9O/Ewb2ht7au+fbez8usZ2Zcampq9fDF39u3/PfL0tHF5uK6ISEg9vPc6+jTtrSb2NSu5OPS8OvG39qzw7+fyset4d7N+vfc6+a92da549630s6p+PXd5OC44d6+aGho6ObU9vLa+fTJwsG28O7VXl5ezMq99/PVFxcX8ezCTU1N6OS/fXty+Pbc8O3WqKaU7OnSRURC5OLOTExG4dy1sK6ZNzczVlZWx8Ohubaf8u/W8O3V7+zS7uvR7+rD6ufT7unB7enB5+TP5+O6w8K5YF9Y6uW81M+q2tWvz8um3tvC3drB5OHI4uDH5uPK5N+36ufN6OXM7OnP7+rA8O3T8+7Dbm5u8ezB9vLYcnJy/vvhb29v8u3C/frg7um/+/jf+/bKc3Nz7Oe+9vHG/fjL+vbe/vnM/Png/vvi//rN+/jd3Nix4t21+vjk5uG44t22/fjM9fLZ0Myn9vHF7erR4t618/Hb+PXg+Pbg8/DY3dmynJyY5OHF6efR9PHaiIiF+fbbxsW7UlFK5uG63dm55eHC6OTDt7Sg2tjBe3t6vbyo9PHZ3tzJ6OS86ea/xMGfamlh0s6rb29u8e7W08+u19bH6+jE0M7C1dTIgH9z6OXQiYh84+HQ+ffj5ePUdnRs7Oi97+vL8e7P5eC40c2o7enC7uvP9PDUzsqn6+a/0dHD9PHc9fPfLy8u3NnAzcmnwb+22tav4d22oKCbrq6nlJGFp6WP6eW7+vfg8/La8fDVSEdCyci89PDTc3Ny4Ny019KtERERQ+XC9wAAA9FJREFUeNqc03tYU2UcwPHfmHMpF9dlDRSYIdlok1BAFrQNanPqKEFJhaQoEdIYXvCCIgoidsWaZ7q2ViOijAI0nQhp2UW7GF0sLUIrtLKCLO0e5U7vey5sbHaeZ+fzx/s87+883+d9znPeAw/y8ONZeICHCWfhCh7O7IbxwZuXnw8PB238qPp6eChob3g8HngkWC9vQeDRYE1rQWBrkN7MxeCx4GxtewGDKm7rqvZc47uPO02BbZzWFt8t3VPl3R+vpcHVnI4NFv5Snb2O3X61mQFhnCoHCwujZpVvq6R2fY0sEHHaP6jX61/JK78nDG3+2eBkwQ5O745Dmf7tT6THRDtEIaohkMjpruIk7N9i6V8ircMLxnAS01nSRxHS4ypCOwRup3VE9ysS7+vYF21KHJNFrx3R0f39N9FZ0tQvFnSXGp5mwfOUP6xWa16YONZqHRdmyrRau1J33Wn1sXAyuXxet+MlNQOuopxEj6DKhLJD5X+iLKq6Mm14RZIr53QT6rE0eIJyg91uT092x9rtk2pSM+32qF7NKfuQVSUkFnrkckfRUxQ2EwgE39e4YwWCn5alZgoEUXnSWQLWUpJRknLYUWTE4HHKSfR0eo/7As4icTZCc4qJkgZIr88OhxQZ29vbmexFm802PfmHCzbbpJrITJsNZWk2ysKZpK+6BSFFTc3NcBkFZ+kHrsPZlMgInK2ls3tLyOFeW2xo2rmTzVwuF8qudLlw5nJ19ZaloZF+wC8iB45MKzV6M4lEgjOJZFOPO0IiwZlEEnAUuTTm3HktPu05CpUlU9kUKhtRljY11D8i63QyYbza5928pzGZ5mjAUeQSnSzXqTY2o4z5AEqlEp+mVG5C76ZUdr0VN8E/mvyr7txFi9rYhLCfG2fVbpz1oGxV3c0N/lnoRN3u85aMsfQteZayD9JP5GkUvZ+eOCo9uOydiltHzVgcU2GeaF7CVisrdPkNqgz2Tj5JyVJossv3i01l2dJvcja8PlI436mam+v58OMUplq+Znb9aZX3D2Cygl0KhRitfRtVBGFpbHQS2u1f/l4bZ6arD2Le97SqDBkseIaWVVBQkPXq9VqC0BoMeNXilci5lrrCnyes9sgt6AkLbhyyKJwIEIKzmSkJq2+TWxw+cxDTFoWXbr+E9SgbMCfIfpY7Vb5zMCHfhq+3XNrXZvLvNQkyoTx++BxEfTkb4//Xd7/dMme2rGXGXL85bOb03kjh6HzhHbX+c5Bzat3b2dK5tzVgDg3c2lasaJsfOIaLvEAnL7CFF/DwAvW8wBle4H5e/hNgAOBlKR3J/NANAAAAAElFTkSuQmCC");
}
/* line 109, D:/ClipWall/sb/ClipWall/ClipWall/Content/clip/clip.scss */
.panel ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 115, D:/ClipWall/sb/ClipWall/ClipWall/Content/clip/clip.scss */
.panel li {
  margin: 0 0 10px 0;
  padding: 0;
}
/* line 118, D:/ClipWall/sb/ClipWall/ClipWall/Content/clip/clip.scss */
.panel li:hover {
  cursor: pointer;
}
