/* line 2, D:/ClipWall/sb/ClipWall/ClipWall/Content/clip/clip.scss */
.focus {
  border: 1px solid #f00;
  color: #0f0;
}

/* line 7, D:/ClipWall/sb/ClipWall/ClipWall/Content/clip/clip.scss */
.greyout {
  position: fixed;
  top: 0;
  left: 0;
  background-color: grey;
  width: 100%;
  height: 100%;
  z-index: 99999;
  opacity: 0.6;
  filter: 'alpha(opacity=60)';
  pointer-events: none;
}

/* line 20, D:/ClipWall/sb/ClipWall/ClipWall/Content/clip/clip.scss */
.hidden {
  display: none;
}
