/* line 2, D:/ClipWall/sb/ClipWall/ClipWall/Content/clip/clip.scss */
* {
  border: 1px solid #fff;
}

/* line 7, D:/ClipWall/sb/ClipWall/ClipWall/Content/clip/clip.scss */
.trigger {
  background: lightgreen;
}

/* line 11, D:/ClipWall/sb/ClipWall/ClipWall/Content/clip/clip.scss */
.test {
  color: blanchedalmond;
}
